<div id="footer">

  <div class="footer-content">
    <%= link_to 'https://www.wunderground.com/' do %>
        <%= image_tag 'wundergroundLogo_4c_rev_horz', id: 'wunderground_logo' %>
    <% end %>
  </div>
  <div class="footer-content">
    <%= link_to 'Explore the API', 'https://www.wunderground.com/weather/api', class: 'btn' %>
  </div>  
  
</div>